<%= render @post %>

<div class="form" id="new_comment">
  <%= form_for(@comment, url: post_comments_path(@post)) do |f| %>
<%= render 'comments/form', :f => f %>
  <%= f.submit "Add new comment" %>
  <% end %>
</div>

<div class="comments">
  <% @post.comments.each do |comment| %>
    <%= render partial: 'comments/comment', locals: {comment: comment} %>
  <% end %>
</div>